body{
    background-color: rgb(2, 30, 44);
}


h1{
font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
font-size:xx-large;
text-align: center;
color:white;
margin-top: 2%;
margin-bottom: 1%;



}
form{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    
   
}
IMG{


height: 80%;
width: 90%;
margin-top: 10%;
margin-left: 10%;
}

.Motor{
    margin-bottom: 15px;
}

#save{
font-weight: bolder;
margin-right: 10px;
font-size: larger;
background-color: rgb(158, 175, 206);
border: 1px solid rgb(132, 159, 207);

}

#on  {
   
font-weight: bolder;
font-size: larger;
margin-right: 10px;
background-color: rgb(140, 196, 154);
border: 1px solid rgb(133, 190, 122);
}
#off{
    font-weight: bolder;
font-size: larger;
background-color: rgb(243, 159, 159);
border: 1px solid rgb(211, 114, 127);
}

.container{
    background-color: rgb(251, 253, 255);
}




